<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Lethe" type="SettingsReader.Configuration.ConfigurationSection, SettingsReader" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <Lethe>
    <AFDatabaseURI>\\mogmes\mog</AFDatabaseURI>
    <PIServerName>mogpi.angloiit.net</PIServerName>
    <BaseTemplateName>APLetheCalculations</BaseTemplateName>
    <AFUpdateTimer>10000</AFUpdateTimer>
    <!--<HBPIPointName>A Heart beat tag</HBPIPointName>-->
  </Lethe>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn" internalLogFile="nlog nlog.log">    
    <variable name="VerboseLayout" value="${longdate} ${level:upperCase=true} ${message} (${callsite:includeSourcePath=true})" />
    <variable name="ExceptionVerboseLayout" value="${VerboseLayout} (${stacktrace:topframes=10})                      ${exception:format=ToString}" />
    <targets async="true">
      <target name="file" xsi:type="File" createDirs="true" fileName="${basedir}/logs/Lethe.log" maxArchiveFiles="10" archiveEvery="Day" archiveNumbering="Rolling" layout="${VerboseLayout}" />
      
      <target name="fileAsException" xsi:type="FilteringWrapper" condition="length('${exception}')&gt;0">
        <target xsi:type="File" createDirs="true" fileName="${basedir}/logs/Lethe_exceptions.log" maxArchiveFiles="10" archiveNumbering="Rolling" archiveEvery="Day" layout="${ExceptionVerboseLayout}" />
        </target>

      <target name="console" xsi:type="ColoredConsole" layout="${VerboseLayout}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file,fileAsException" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
</configuration>
