<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="OSIsoft.PISDK"
                                  publicKeyToken="c3309f0734ba2805"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="1.3.0.0" newVersion="1.4.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
